@font-face {
	font-family: 'digital-clock-font';
	src: url('fonts/digital-7-webfont.ttf');
}

body {
	padding: 0;
	border: 0;
	background: #E9EAE4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.numpad {
	margin: 15px;
}

.title p {
	font-size: 50px;
	font-family: 'Black Ops One', cursive;
	font-weight: bold;
	margin: 5px;
	padding: 10px 0;
	text-align: center;
}

.numpad button {
	height: 60px;
	width: 95px;
	margin: 8px;
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: black;
	background: #ededed;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 7px #252E2B;
}

.numpad button:active {
	box-shadow: 2px 5px #252E2B;
	transform: translateY(4px);
}

.display {
	background-color: black;
	color: #E67628;
	width: 450px;
	height: 160px;
	margin: 0 auto;
	border: solid 1px black;
}

.display p {
	font-family: 'digital-clock-font';
	text-align: right;
}

#result {
	padding-top: 110px;
	padding-right: 12px;
	font-size: 48px;
}


/*#previous {
	padding-top: 10px;
	padding-right: 15px;
	font-size: 26px;
}

*/

.container {
	position: relative;
	top: 50px;
	border-radius: 10px;
	border: solid 5px;
	background: #C5C6B6;
}

#div,
#mul,
#sub,
#plus,
#equal {
	background: #F4EFDB;
}

#clear,
#backspace {
	background: #C45A10;
}

#hidden1,
#hidden2 {
	visibility: hidden;
}
